.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact {
    font-size: 1.2rem;
    color: #694F57;
    line-height: 1.5;
  }
  
  .contact a {
    color: #8F2446;
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .contact {
      font-size: 1rem;
    }
  }
  
/*.contact-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-header {
    color: #8F2446;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-submit {
    background-color: #8F2446;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .contact-submit:hover {
    background-color: #6a1d28;
  }
  
  .contact-success {
    color: green;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .contact-error {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
  }*/
  