.events-container {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .events-header {
    color: #8F2446;
    margin-bottom: 30px;
  }
  
  .external-events-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px auto;
    text-align: left;
  }
  
  .external-text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
  }
  
  .events-subheader {
    color: #8F2446;
    margin-bottom: 20px;
  }
  
  .events-paragraph {
    font-size: 1.1rem;
    color: #694F57;
    max-width: 400px;
  }
  
  .events1 {
    max-width: 250px;
    height: auto;
    margin: 20px;
  }
  
  .events2 {
    max-width: 400px; 
    height: auto;
    margin: 20px;
  }
  
  .internal-events-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px auto;
    text-align: left;
  }
  
  .internal-text {
    flex: 1;
    max-width: 600px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
@media (max-width: 768px) {
    .external-events-section,
    .internal-events-section {
      flex-direction: column;
      text-align: center;
    }
  
    .external-text-section {
      max-width: 100%; 
      margin-right: 0; 
      margin-bottom: 20px; 
    }
  
    .events1 {
      max-width: 100%; 
      margin: 10px 0; 
    }
  
    .events2 {
      max-width: 100%; 
      margin: 10px 0; 
    }
  
    .internal-text {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }